body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  align-content: center;
  text-align: center;  
  background: #181717;
}

li {
  list-style: none;
}

/* Main Heading */
h1 {
  display:inline-block;   
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.3s;
}

h1:hover {
  color: #0A993C;
  transform: scale(1.2);
}

/* Filter Buttons */
.button {
  color: #FFFFFF;
  background-color: #55A96C;
  border: 1px solid #55A96C;
  margin-left: 15px;
  margin-right: 15px;  
}

.button:hover {
  color: #fff;
  background-color: #178736;
  border: 1px solid #178736;  
  /* border-color: #178736; */
  cursor: pointer;
}

/* Selected Button */
.button-active {
  color: #FFFFFF;
  background-color: BLACK;
  border-color: #55A96C;
  margin-left: 15px;
  margin-right: 15px;  
}

.button-active:hover {
  color: #fff;
  background-color: #178736;
  border-color: #178736;
}

/* Main List */
.list-group {
  padding-left: 20px;
  padding-right: 20px;
}

/* List Items */
.list-group-item {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: #181717;
  color: white;
}

.list-group-item:hover {
  background-color: #000;
}

/* Album Art */
.list-group-item img {
  float: left;
  margin-right: 40px;
  margin-left: 40px;

}

/* Artist */
.list-group-item strong {
  font-size: 28px;
  padding-top: 8px;
  margin: auto;
  padding-left: 15px;
  vertical-align: middle;
  float: left;
}

/* Track Name */
.list-group-item span {
  font-size: 28px;
  padding-top: 8px;
  margin: auto;
  vertical-align: middle;
  float: left;
}